<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - School</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="PrincipalProfile" asp-action="Index">School</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <nav class="sidenav">
        @*<div class="sidebar-header">
            <h3>Account</h3>
        </div>*@
        <ul class="list-unstyled components">
            <li>
                <a asp-area="" asp-controller="PrincipalProfile" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-area="" asp-controller="PrincipalProfile" asp-action="LessonsList">Lessons</a>
            </li>
            <li>
                <a asp-area="" asp-controller="PrincipalProfile" asp-action="Groups">Groups</a>
            </li>
            <li>
                <a href="#listsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Lists</a>
                <ul class="collapse list-unstyled" id="listsSubmenu">
                    <li>
                        <a asp-area="" asp-controller="PrincipalProfile" asp-action="StudentsList">List of Students</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="PrincipalProfile" asp-action="TeachersList">List of Teachers</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#requestsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Requests</a>
                <ul class="collapse list-unstyled" id="requestsSubmenu">
                    <li>
                        <a asp-area="" asp-controller="PrincipalProfile" asp-action="StudentApplicationsList">Student requests</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="PrincipalProfile" asp-action="TeacherApplicationsList">Teacher requests</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#rolesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">School roles</a>
                <ul class="collapse list-unstyled" id="rolesSubmenu">
                    <li>
                        <a asp-area="" asp-controller="Administration" asp-action="CreateRole">Create role</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Administration" asp-action="Roles">Roles</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container">
        <main id="principalmain" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - School - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
