@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-center">
    <h4>Apply to our school</h4>
    <a class="btn btn-primary" asp-area="" asp-controller="Application" asp-action="StudentApplicationForm">Apply</a>
</div>